# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ IDEA
/.idea/
/*.iml

# Build folders
/target/
/out/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

.DS_Store
.idea/uiDesigner.xml
.idea/vcs.xml
out/
